kaggle
pandas
matplotlib
seaborn
python-dotenv
langchain-community
langchain-opencv
langchain-chroma
transformers
gradio
jupyter
ipykernel

torch==2.7.0+cu118 # Enable GPU support (please check for your compatible version of CUDA)
torchvision==2.7.0+cu118
torchaudio==2.7.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118